/* Global styles */

body {
    padding: 70px 0 50px;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.c-asterisk-required {
    color: #ff0000;
}

.c-auth-form {
    max-width: 300px;
    margin: auto;
}

.c-auth-form .alert {
    margin: 15px 0;
}

td .fa {
    margin: 3px;
}

select:required:invalid {
    color: #999999;
}
option[value=""][disabled] {
    display: none;
}


